# Database
DB_USER=postgres
DB_PASSWORD=
DB_NAME=tunescape
DB_HOST=postgres
DB_PORT=5432
DB_DRIVER=postgres
DB_SSLMODE=disable

# Redis
REDIS_ADDR=redis:6379

# Server
LISTEN_ADDR=:8080
ALLOWED_ORIGINS=http://localhost:5173

# Auth
JWT_KEY=

# Migrations
MIGRATIONS_PATH=./migrations